<div class="container">
    <div class="hovermenu ttmenu">
        <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                </button>
                <div class="logo">
                    <a class="navbar-brand" href="/"><img src="lib/custom/images/logo.png" alt=""></a>
                </div>
            </div><!-- end navbar-header -->

            <nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
              <ul class="nav navbar-nav">
                <li ng-repeat="item in menu.items | orderBy: 'position'" ng-if="item.shouldRender(authentication.user);" ng-switch="item.type" ng-class="{ active: $state.includes(item.state), dropdown: item.type === 'dropdown' }" class="{{item.class}}" dropdown="item.type === 'dropdown'">
                  <a ng-switch-when="dropdown" class="dropdown-toggle" dropdown-toggle role="button">{{::item.title}}&nbsp;<span class="caret"></span></a>
                  <ul ng-switch-when="dropdown" class="dropdown-menu">
                    <li ng-repeat="subitem in item.items | orderBy: 'position'" ng-if="subitem.shouldRender(authentication.user);" ui-sref-active="active">
                      <a ui-sref="{{subitem.state}}" ng-bind="subitem.title"></a>
                    </li>
                  </ul>
                  <a ng-switch-default ui-sref="{{item.state}}" ng-bind="item.title"></a>
                </li>
              </ul>
            </nav><!--/.nav-collapse -->
        </div><!-- end navbar navbar-default clearfix -->
    </div><!-- end menu 1 -->
</div><!-- end container -->
